<%- include('other/head', {title: "Dashboard"}) %>
</head>

<body>
    <%- include('other/nav') %>
    <%- include('other/header1', {username}) %>
    <%- include('other/header2', {pathname}) %>
    <div class="container text-center">
        <div class="col align-self-center">
            <h3>Select the function on the left</h3>
        </div>
    </div>
    <%- include('other/footer') %>
</body>