<%- include('other/head', {title: 'Reset User'}) %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript">
		$(document).ready(() => {

$("#form").submit((event) => {
  event.preventDefault();

  $.ajax({
    type: 'POST',
    url: '/user/reset/<%= userinfo.username %>',
    data: $('#form').serialize(),
    dataType: "json",
    success: (data, textStatus) => {
                  console.log(data);
                  document.getElementById("check").innerHTML = data.msg;
                  $('#stock').val(data.nowStock);
                  setTimeout(() => {
                      document.getElementById("check").innerHTML = "";
                  }, 3000);
    },
    error: (data, textStatus) => {
                  console.log(data);
                  $('#form')[0].reset();
                  if (data.status == 400 || data.status == 500) {
                      document.getElementById("check").innerHTML = data.responseJSON.msg;
                      setTimeout(() => {
                          document.getElementById("check").innerHTML = "";
                      }, 3000);
                  }
    }
  })
});

});
    </script>
  </head>
  <body>
    <%- include('other/nav', {role}) %>
    <%- include('other/header1', {username}) %>
    <%- include('other/header2', {pathname}) %>
    <div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-5">
            <div class="card mb-4 mx-4">
              <div class="card-body p-4">
                <form id="form" method="post">
                  <div class="mb-3 row">
                    <label for="username" class="col-sm-5 col-form-label">Username</label>
                    <div class="col-sm-5">
                      <input type="text" readonly class="form-control-plaintext" name="username" value="<%= userinfo.username %>">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="password" class="col-sm-5 col-form-label">New Password</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" name="password" placeholder="New Password" value="">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="password" class="col-sm-5 col-form-label">Role</label>
                    <div class="col-sm-5">
                      <select name="role" class="form-select" aria-label="Role">
                        <% if (userinfo.role == 'admin') { %>
                        <option selected value="admin">Admin</option>
                        <option value="user">User</option>
                        <% } else { %>
                        <option value="admin">Admin</option>
                        <option selected value="user">User</option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <input type="button" onclick="window.history.back();" class="btn btn-secondary px-4" value="Back" />
                    </div>
                    <div class="col-3">
                      <input type="submit" value="Submit" class="btn btn-primary px-4">
                    </div>
                  </div>
                </form>
                <div class="mssg bg-danger">
                  <span id="check"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('other/footer') %>
  </body>
